# Auto detect text files and perform LF normalization
* text=auto
SampleSimulator/Assets/Models/** filter=lfs diff=lfs merge=lfs -text
SampleSimulator/Assets/Models/test0.3/** filter=lfs diff=lfs merge=lfs -text
SampleSimulator/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/** filter=lfs diff=lfs merge=lfs -text
SampleSimulator/Assets/TextMesh[[:space:]]Pro/Fonts/** filter=lfs diff=lfs merge=lfs -text
SampleSimulator/Assets/TextMesh[[:space:]]Pro/** filter=lfs diff=lfs merge=lfs -text
SampleSimulator/Assets/DroneAgent/test0.3.1/** filter=lfs diff=lfs merge=lfs -text
MAEasySimulator/Assets/StreamingAssets/** filter=lfs diff=lfs merge=lfs -text
MAEasySimulator/Assets/Scenes/** filter=lfs diff=lfs merge=lfs -text
MAEasySimulator/Assets/DenysAlmaral/** filter=lfs diff=lfs merge=lfs -text
MAEasySimulator/Assets/Cell[[:space:]]tower[[:space:]]lowpoly/** filter=lfs diff=lfs merge=lfs -text
MAEasySimulator/Assets/Inguz[[:space:]]Media[[:space:]]Studio/** filter=lfs diff=lfs merge=lfs -text
MAEasySimulator/Assets/NAACo/** filter=lfs diff=lfs merge=lfs -text
MAEasySimulator/Assets/PBR[[:space:]]Folding[[:space:]]Chairs/** filter=lfs diff=lfs merge=lfs -text
MAEasySimulator/Assets/Models/** filter=lfs diff=lfs merge=lfs -text
