# Auto detect text files and perform LF normalization
* text=auto
SampleSimulator/Assets/Models/** filter=lfs diff=lfs merge=lfs -text
SampleSimulator/Assets/Models/test0.3/** filter=lfs diff=lfs merge=lfs -text
SampleSimulator/Assets/TextMesh[[:space:]]Pro/Examples[[:space:]]&[[:space:]]Extras/** filter=lfs diff=lfs merge=lfs -text
SampleSimulator/Assets/TextMesh[[:space:]]Pro/Fonts/** filter=lfs diff=lfs merge=lfs -text
SampleSimulator/Assets/TextMesh[[:space:]]Pro/** filter=lfs diff=lfs merge=lfs -text
