[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu117"
verify_ssl = false
name = "pytorch"

[scripts]
learn = "powershell -File ./learning.ps1"
setup = "powershell -File ./set_learn_conf.ps1"

[packages]
torch = {version = "*", index = "pytorch"}
torchvision = {version = "*", index = "pytorch"}
torchaudio = {version = "*", index = "pytorch"}
mlagents = {version = "*", index = "pypi"}
mlagents-envs = {version = "*", index = "pypi"}
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
